## mako
## -*- coding: utf-8 -*-
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Foire aux questions – FAQ </title></%block>



<section class="container about" style="width: auto;">
 
<section class="vision">


## FAQ Section ##
<section class="message left" id="faq">
<div class="photo">
<img src="${static.url('http://www.teluq.ca/site/img/joindre/mtl_thumb.jpg')}" alt='${_(u"Les bureaux de la Téluq")}' />
</div>
<article>
<h2>Foire aux questions – FAQ </h2>
<p><strong>Qu’est-ce qu’un CLOM (ou MOOC) ?</strong><br />
Les CLOM ou cours en ligne ouverts et massifs (en anglais MOOC - Massive Open Online Courses) sont des cours offerts entièrement sur Internet, gratuitement et pour tous.  Échelonnés sur quelques semaines, ils proposent une variété d’activités individuelles ou collectives soutenues par des vidéos, des textes et des questionnaires interactifs. Ce type de cours, popularisé aux États-Unis en 2012, attire aujourd’hui des millions de personnes du monde entier. </p>

<p><strong>Qu’est-ce que la TÉLUQ ?</strong><br />
Fondée en 1972, la TÉLUQ est la première université francophone en Amérique du Nord à avoir offert tous ses cours à distance. Depuis plus de 40 ans, la TÉLUQ favorise le rythme d’apprentissage de ses étudiants en leur offrant une flexibilité adaptée aux réalités de la vie moderne. Chaque année, c’est près de 20 000 étudiants de partout dans le monde qui y font leurs études universitaires, du certificat jusqu’au doctorat. Membre du grand réseau de l’Université du Québec, la TÉLUQ se démarque également par sa performance en recherche. 
</p>

<p><strong>À qui s’adressent ces cours ?</strong><br />
Les cours en ligne ouverts et massifs de la TÉLUQ s’adressent à tous. Il suffit d’avoir un accès Internet, une bonne maîtrise du français, du temps et de l’intérêt pour les sujets présentés.</p>

<p><strong>Combien ça coûte ?</strong><br />
C’est tout à fait gratuit, et ce, pour toute la durée des cours.</p>


<p><strong>Comment ça se déroule ?</strong><br />
Chaque semaine, des activités sont proposées : le visionnement de courtes vidéos, la lecture de textes et la validation des connaissances acquises par des questionnaires interactifs (quiz). </p>


<p><strong>Quelle est la durée de ces cours ?</strong><br />
5 semaines pour le cours sur la conciliation travail-famille  et 6 semaines pour le cours d’introduction à l’histoire politique du Québec.</p>

<p><strong>Quelle sera charge de travail ?</strong><br />
Il faut prévoir environ 1 heure par semaine pour suivre le cours et  de 1 à 2 pour les autres activités (lectures complémentaires, participation au forum,  etc.)</p>


<p><strong>Quelle est la date de début des cours?</strong><br />
Les cours seront offerts  à compter d’octobre 2014. La date de début des cours sera précisée au cours des prochaines semaines.</p>


<p><strong>Qu’obtient-on à la fin du cours ?</strong><br />
Une attestation de participation sera décernée à ceux et celles qui complètent les cinq ou six semaines de cours et réussissent les évaluations.</p>
<p><strong>En quoi ces cours sont-ils différents des cours à la TÉLUQ ?</strong><br />
Les cours réguliers de la TÉLUQ durent 15 semaines et sont crédités. Les CLOM de la TÉLUQ durent 5 à 6 semaines, ne sont pas crédités et sont offerts gratuitement.</p>

<p><strong>Comment s’inscrire à un cours?</strong><br />
Vous devez d’abord créer un compte sur Ulibre, puis vous inscrire au cours de votre choix. Pour créer un compte, cliquer sur Inscription dans la barre de menu et complétez le formulaire en ligne. Vous recevrez un courriel d'activation. Suivez les consignes de ce courriel pour activer votre compte. </p>



</article>
<hr class="fade-right-hr-divider">
</section>


</section>

</section>
