## mako
## -*- coding: utf-8 -*-
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Remerciements de Ulibre</title></%block>

<section class="container about" style="width: auto;">
 
<section class="vision">

## Remerciements Section ##
<section id="remerciements">


 <article>
 <h2 style="text-align:center;"> Remerciements Ulibre </span></h2>

<p>Ulibre résulte d’un effort soutenu de plusieurs personnes qui ont collaboré à sa conception et à son déploiement.</p>

 <p><strong>Équipe de pilotage - projet CLOM-TÉLUQ</strong>
 <ul>
 <li>Gilbert Paquette, Centre de recherche LICEF (Directeur de projet)</li></br>
  <li>Martin Noël, Direction des services académiques (Responsable fonctionnel)</li></br>
 <li>Jean-Charles Dormeux, Service technopédagogique</li></br>
 <li>Monique Charpentier, Centre de recherche LICEF</li></br>
 <li>Claude Coulombe, Centre de recherche LICEF</li></br>
 <li>Mélanie Roberge, Service des communications et des affaires publiques</li></br>
 <li>Denis Ross, UER Sciences humaines, Lettres et Communications</li></br> 
 </ul>
 </p>

 <p><strong>Autres membres - Équipe de réalisation</strong>
 <ul>
 <li>Mohamed Ben-Jemia, Centre de recherche LICEF</li></br>
 <li>Élodie Boissières, Service technopédagogique</li></br>
 <li>Annick Desmeules, Service technopédagogique</li></br>
 <li>Émilie Kawun, Service technopédagogique</li></br>
 <li>Marie-Claude Massé, Service technopédagogique</li></br>
 <li>Sébastien Patenaude, Service technopédagogique</li></br>
 <li>Isabelle Pelletier, Service des communications et affaires publiques</li></br> 
 </ul>
 </p>

 


 </article>



 <hr class="fade-right-hr-divider">
 </section>



</section>

</section>
