## mako
## -*- coding: utf-8 -*-
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>À propos de Ulibre</title></%block>

<section class="container about" style="width: auto;">
 
<section class="vision">

## About Section ##
<section class="message left" id="about">
<div class="photo">
 <img src="${static.url('http://www.teluq.ca/site/img/joindre/mtl_thumb.jpg')}" alt='${_(u"Les bureaux de la Téluq")}' />

 </div>

 <article>
 <h2>${_('About')} <span class="edx">d'Ulibre </span></h2>

 <p>La TÉLUQ, pionnière de la formation à distance en ligne au Québec, entreprend la diffusion de cours en ligne ouverts et massifs ou CLOM (en anglais MOOC - Massive Open Online Courses) en offrant dès l’automne deux cours gratuits et ouverts à tous :
 <ul>
 <li>Introduction à l’histoire politique du Québec</li>
 <p></p>
 <li>Conciliation travail-famille : défis et solutions</li>
 </ul>
 <p>De niveau universitaire, ces cours traitent de sujets uniques dans la francophonie. Ils ont été créés par une équipe chevronnée et rendent accessible à tous du contenu de qualité, dans une formule dynamique et interactive.</p>

 </article>

 <hr class="fade-right-hr-divider">
 </section>



</section>

</section>
