## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## Toss the Stanford brand bar on top of the page
<%block name="navigation_top">
  <div id="su-header">
    <div class="su-container">
      <p>Les cours en ligne ouverts et massifs (CLOM - MOOC)</p>
      
      <a href="http://www.teluq.ca" target="_blank" title="Formation à distance - Université à distance et en ligne - TÉLUQ">
        <img src="http://benhur.teluq.ca/logo_teluq/TELUQ_couleur.png" alt="TÉLUQ L'université. Aujourd'hui." width="131" height="45">
      </a>
    </div>
  </div>
</%block>

## TODO: this will eventually be moved to the Sass
<%doc>
<%block name="navigation_logo">
  <img src="${static.url('themes/teluq/images/teluq-ulibre-logo.png')}" width="325" height="109" alt="U libre" />
</%block>
</%doc>

## We don't want extra links inside the navigation dropdown
<%block name="navigation_dropdown_menu_links" />

## ${_('About')}
## When unauthenticated, only show the about page link
<%block name="navigation_global_links">
  <li class="nav-global-01">
    <a href="${marketing_link('ABOUT')}" title="Page Présentation">Présentation</a>
  </li>
</%block>

## ${_('About')}
## ${_('Find Courses')}
## Ajout Annick -> ajout du lien FAQ
## When authenticated, show both the about page and find courses
<%block name="navigation_global_links_authenticated">
  <li class="nav-global-01">
    <a href="${marketing_link('ABOUT')}" title="Page Présentation">Présentation</a>
  </li>
  <li class="nav-global-02">
    <a href="${marketing_link('COURSES')}" title="Page Les cours">Les cours</a>
  </li>
  <li class="nav-global-03">
    <a href="${marketing_link('ABOUT')}#faq" title="Page FAQ">FAQ</a>
  </li>  
</%block>