## mako
<%! 
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from edxmako.shortcuts import marketing_link
%>



 ## Ajout Annick
    <section class="actions">        
        <div class="secondary-actions">
          <div class="social-sharing">
            <a href="https://www.facebook.com/" title="" target="_blank" class="share">
              <img src="${static.url('themes/teluq/images/social/picto_facebook.png')}">
            </a>
            <a href="http://twitter.com/" title="" target="_blank" class="share">
              <img src="${static.url('themes/teluq/images/social/picto_twitter.png')}">
            </a>
            <a href="#" class="share" title="" target="_blank">
              <img src="${static.url('themes/teluq/images/social/picto-rss.png')}">
            </a>
          </div>
        </div>
    </section>
    
  </section>
</section>

<div class="wrapper-footer">
<section class="actions">        
        <div class="secondary-actions">
          <div class="social-sharing">
            <a class="share" target="_blank" title="" href="https://www.facebook.com/">
              <img src="/static/themes/teluq/images/social/picto_facebook.159bfb410191.png">
            </a>
            <a class="share" target="_blank" title="" href="http://twitter.com/">
              <img src="/static/themes/teluq/images/social/picto_twitter.3bdd38734ba0.png">
            </a>
            <a target="_blank" title="" class="share" href="#">
              <img src="/static/themes/teluq/images/social/picto-rss.f805b0047b64.png">
            </a>
          </div>
        </div>
    </section>
  
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${marketing_link('ABOUT')}">À propos</a></li>
          ## <li><a href="https://stanfordonline.zendesk.com/hc">${_('Help')}</a></li>
          <li><a href="/faq">Foire aux questions (FAQ)</a></li>
          <li><a href="${reverse('contact')}">${_('Contact')}</a></li>

        </ol>       
       ## <ol>
        ##  <li><a href="${reverse('tos')}">${_('Terms of Service')}</a></li>
        ##  <li><a href="${reverse('tos')}#honor">${_('Honor Code')}</a></li>
        ##  <li><a href="${reverse('tos')}#privacy">${_('Privacy Policy')}</a></li>
        ##  <li><a href="${reverse('tos')}#copyright">${_('Copyright')}</a></li>  
        ## </ol>
      </nav>
    </div>
    <div class="references">
      <a href="http://www.teluq.ca" target="_blank" title="Formation à distance - Université à distance et en ligne - TÉLUQ.">
        <span class="sr">Des cours développés par la TÉLUQ</span>
        <img src="http://benhur.teluq.ca/logo_teluq/TELUQ_noir.png" height="30" alt="TÉLUQ. L'université. Aujourd'hui."/>
      </a>
      <a href="http://openedx.org" target="_blank" title="Open edX.">
        <span class="sr">${_('Powered by {platform_name}').format(platform_name='Open edX')}</span>
        <img src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag.png" height="30" alt="${_('Powered by {platform_name}').format(platform_name='Open edX')}"/>
      </a>
    </div>
  </footer>
</div>